@import "../vendor/css/sanitize.min.scss";
@import "../vendor/css/basscss.min.scss";
@import "../vendor/css/responsive-margin.scss";
@import "../vendor/css/responsive-padding.scss";

@import "config";
@import "footer";

@font-face {
    font-family: "Roboto";
    src: url("../vendor/fonts/Roboto-Light.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../vendor/fonts/Roboto-Regular.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../vendor/fonts/Proxima-Nova-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../vendor/fonts/Proxima-Nova-Medium.otf");
    font-weight: bold;
    font-style: normal;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-size: 1.25rem;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Avenir Next",
        Avenir, Helvetica, "Helvetica Neue", Ubuntu, Noto, "Segoe UI", Arial,
        sans-serif;
    line-height: 1.6;
    color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont,
        "Avenir Next", Avenir, Helvetica, "Helvetica Neue", Ubuntu, Noto,
        "Segoe UI", Arial, sans-serif;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.btn-outline {
    display: inline-block;
    padding: 8px 24px;
    border: 1px solid;
    border-radius: 32px;
    transition: all 0.2s ease;

    &:hover {
        text-decoration: none;
    }
}

.btn-outline-white {
    border-color: white;
    color: white;
}

.btn-outline-white:hover {
    background-color: white;
    cursor: pointer;
    color: black;
}

.btn-outline-pink {
    border-color: $pink;
    color: $pink;
}

.btn-outline-pink:hover {
    background-color: $pink;
    cursor: pointer;
    color: white;
}

.measure {
    max-width: 30em;
}

.w-100 {
    width: 100%;
}

.gradient-pink {
    background: radial-gradient(
        circle farthest-corner at top left,
        $pink 0%,
        $purple 100%
    );
}

.white {
    color: white;
}

#sponsors {
    background: radial-gradient(
        circle farthest-corner at top left,
        $green 0,
        $blue 100%
    );
}

.logo_container img {
    filter: brightness(0%) invert(100%);
    width: auto;
    margin: 32px;
}

.logo_container a:hover {
    text-decoration: none;
}

.sponsor-large {
    height: 14vh;
}

.sponsor-medium {
    height: 11vh;
}

.sponsor-small {
    height: 6vh;
}

#tfa {
    height: 9vh;
}

.max-width-5 {
    max-width: 96rem;
}

@media screen and (max-width: 32em) {
    .logo_container img.wide-logo {
        margin: 0px;
        padding: 32px;
        height: auto;
        width: 100%;
    }
}

#teamSection {
    .labelText {
        align-items: center;
        bottom: 0;
        display: flex;
        justify-content: center;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
        color: white;
        font-weight: 500;
        transition: all 0.2s ease;
        z-index: 3;
        padding-left: 32px;
        padding-right: 32px;
    }

    .team_img_container {
        position: relative;
    }

    .team_img_container img {
        z-index: 2;
        transition: all 0.2s ease;
    }

    .team_img_container:hover img {
        filter: brightness(0.5);
    }

    .team_img_container:hover .labelText {
        opacity: 1;
    }
}

footer {
    background-color: $pink;
}

#logo {
    width: 240px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

.flipInY {
    backface-visibility: visible !important;
    animation-name: flipInY;
}
.wrapper img {
    width: 100%;
}

.wrapper {
    display: grid;
    max-width: 96rem;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 16px;
}

.lg-col-team {
    width: 100%;
}

.py6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.py5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.mt5 {
    padding-top: 5rem;
}

.sponsor-xls {
    height: 8vh;
}

#introduction a {
    transition: opacity 0.2s ease;
    text-decoration: underline;
}

#introduction a:hover {
    opacity: 0.8;
}

.pink-link {
    color: $pink;
}

.pink-link:hover,
.pink-link:active {
    opacity: 0.8;
    text-decoration: none;
}

@media screen and (min-width: 40em) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .wrapper div:nth-child(2) {
        grid-column: span 1;
        grid-row: span 2;
    }

    .wrapper div:nth-child(6) {
        grid-column: span 2;
        grid-row: span 2;
    }

    .wrapper div:nth-child(11) {
        grid-column: span 2;
        grid-row: span 2;
    }

    .wrapper div:last-child {
        display: none;
    }

    .lg-col-team {
        width: 50%;
    }
}

@media screen and (min-width: 52em) {
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
    }

    .wrapper div:nth-child(2) {
        grid-column: span 1;
        grid-row: span 2;
    }

    .wrapper div:nth-child(6) {
        grid-column: span 2;
        grid-row: span 2;
    }

    .wrapper div:nth-child(7) {
        grid-column: span 2;
        grid-row: span 2;
    }

    .wrapper div:last-child {
        display: block;
    }

    .lg-col-team {
        width: 20%;
    }
}

@media screen and (min-width: 64em) {
    .max-width-5 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .wrapper {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
